<form action="https://formspree.io/markkhazanov@gmail.com" method="POST">
	<input type="text" name="name" placeholder="Name"> </input>
	<input type="email" name="email" placeholder="Email"> </input>
	<select name="cars">
		<option value="press">Press</option>
	  <option value="speak">Request to Speak</option>
	  <option value="job">Job Opportunity</option>
	  <option value="other">Other</option>
	</select>
	<textarea type="text" name="message" placeholder="What's up?"> </textarea>
	<button type="submit">Send</button>
</form>