
	<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyC8G2qb9lCLs1QMcGhFBHwGVqMkaKNwZZk",
	    authDomain: "blog-2c3df.firebaseapp.com",
	    databaseURL: "https://blog-2c3df.firebaseio.com",
	    projectId: "blog-2c3df",
	    storageBucket: "blog-2c3df.appspot.com",
	    messagingSenderId: "377201815347"
	  };
	  firebase.initializeApp(config);
	</script>


	</body>
</html>