<% include partials/header %>
	<link rel="stylesheet" type="text/css" href="../../css/404.css">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body>

<h1> Ahh! Zombies! Run!!</h1>
<img src="../../img/zombie.png" />

<% include partials/footer %>