<% include partials/header %>
	<link rel="stylesheet" type="text/css" href="../../css/blogList.css">
</head>
<body>

	<div id="blog-outline">

			<% blogs.forEach(function(blog){ %>
				<div class="post">
					<p class="date"><%= blog.date %></p>
					<h2><a href="/blog/<%=blog.title%>"><%= blog.title %></a></h2>
					<p><%= blog.content %></p>
				</div>
			<% }) %>

	</div>

<% include partials/footer %>