<% include partials/header %>
	<div class="post">
		<p class="date"><%= blog.date %></p>
		<h2><a href="/blog/<%=blog.title%>"><%= blog.title %></a></h2>
		<p><%= blog.content %></p>
	</div>


<% include partials/footer %>