<form>
	<input type="text" placeholder="Name"> </input>
	<input type="email" placeholder="Email"> </input>
	<select name="cars">
		<option value="press">Press</option>
	  <option value="speak">Request to Speak</option>
	  <option value="job">Job Opportunity</option>
	  <option value="other">Other</option>
	</select>
	<input type="text" placeholder="What's up?"> </input>
	<input type="submit"> </input>
</form>