<% include partials/header %>
    <link rel="stylesheet" type='text/css' href="./css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300" rel="stylesheet">
</head>
<body>

    <div id="root">
      
      <div id="navbar">


      </div>

      <div class="container parallax-window white" data-parallax="scroll" data-image-src="./img/me.jpg">
        <h1 id="title-text">I AM MARK KHAZANOV</h1>
        <h2 id="title-text">DESIGN TECHNOLOGY ADVOCACY</h2>
      </div>

      <div class="section white" id="design">
        <img class=foo src="../../img/device.jpg" />
        <div class="text-box right" id="design-text">
          <h1 id="white">Design</h1>
          <p id="white">Design</p>
        </div>
      </div>

      <div class="section black" id="tech">
        <div class="text-box left">
          <h1>Technology</h1>
          <p>I've built a drone navigation system, a heart rate workout synchronizer, and a small electron accelerator.</p>
        </div>
        <div class="graphics-box right">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>

      <div class="section black" id="advocacy">
        <div class="text-box right">
          <h1>ADVOCACY</h1>
          <p>Most of my time went into breeding these little buddies: Tensegrity Robots</p>
        </div>
      </div>

      <div class="section black" id="hobbies">
        <h1>Passions</h1>
        <p></p>
      </div>

      <div class="section" id="contact">
        <h1>Contact</h1>
        <% include partials/contact-form %>

      </div>


    </div>

  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    console.log("scroll reveal");
    window.sr = ScrollReveal();
    sr.reveal('.foo', {duration: 1700});
  </script>
  <script src="Chart.js"></script>
  <script>
      var myChart = new Chart({...})
  </script>
  <script src="/js/graph.js"></script>
    
<% include partials/footer %>