<% include partials/header %>

    <div id="root">
      
      <div id="navbar">


      </div>

      <div class="container parallax-window white" data-parallax="scroll" data-image-src="./img/me.jpg">
        <h1>I AM MARK KHAZANOV</h1>
      </div>

      <div class="container parallax-window white" id="design" data-parallax="scroll" data-image-src="./img/cpe.jpg">
        <div class="text-box right" id="design-text">
          <h1 id="white">Design</h1>
          <p id="white">Design</p>
        </div>
      </div>

      <div class="container parallax-window black" id="tech" data-parallax="scroll" data-image-src="">
        <div class="text-box left">
          <h1>Technology</h1>
          <p>I've built a drone navigation system, a heart rate workout synchronizer, and a small electron accelerator.</p>
        </div>
        <div class="graphics-box right">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>

      <div class="container parallax-window white" id="advocacy" data-parallax="scroll" data-image-src="./img/tensegrity2.jpg">
        <div class="text-box right">
          <h1>ADVOCACY</h1>
          <p>Most of my time went into breeding these little buddies: Tensegrity Robots</p>
        </div>
      </div>

      <div class="container parallax-window black" id="hobbies" data-parallax="scroll" data-image-src="">
        <h1>Passions</h1>
        <p></p>
      </div>

      <div class="container parallax-window" id="contact" data-parallax="scroll" data-image-src="">
        <h1>Contact</h1>
        <% include partials/contact-form %>

      </div>


    </div>

  <script src="Chart.js"></script>
  <script>
      var myChart = new Chart({...})
  </script>
  <script src="/js/graph.js"></script>
    
<% include partials/footer %>