html{

}

body{

}

.white{
	color: white;
}

.black{
	color: black;
}

.right{
	float: right;	
}

.left{
	float: left;
}

h1{
	font-family: 'Anton', sans-serif;
	text-align: center;
	font-size: 7em;
}

#title-text{
	margin-top:30%;
	margin-bottom: 20%;
}

p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

img{
	max-width: 500px;
}

.section{
	min-height:650px;
}

#design{
	background-color: black;
}

#tech{
}




.container{
	min-height:650px;
	border: 2px solid red;
}

.text-box{
	min-height: inherit;
	width:45%;
	padding: 10px;
}

.graphics-box{
	min-height: inherit;
	width:55%;
}

#design-text{
	background-color: #232323;
}

.parallax-window {
    min-height: 650px;
    background: transparent;
    position: relative;
    margin: 0;
    padding: 0;
}